<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="row">
<div class="col-sm-5">
        <h1>text one </h1>
    <div class="row">
    <div class="col-sm-2.5">
        <h1>oreh</h1>

<input type="text" placeholder="exit">
    </div>
<div class="col-sm-2.5">
    <h1>hero</h1>
<input type="text" placeholder="exit 2">
</div>
</div>
</div>



<div class="col-sm-5">
    <h1>text two</h1>
</div>
<div class="col-sm-2">
        <h1>text two</h1>
</div>
</div>

